# 用户和活动关联关系处理


整个数据集中活动数目（events.csv）太多，所以下面的处理我们找出只在训练集和测试集中出现的活动和用户集合，并对他们重新编制索引

In [33]:
#保存数据
import pickle

import itertools

#处理事件字符串
import datetime
import pandas as pd
import numpy as np
import scipy.io as sio
import scipy.sparse as ss

#相似度/距离
import scipy.spatial.distance as ssd

from collections import defaultdict
from sklearn.preprocessing import normalize

In [1]:
 """
我们只关心train和test中出现的user和event，因此重点处理这部分关联数据

train.csv 有6列：
user：用户ID
event：活动ID
invited：是否被邀请（0/1）
timestamp：ISO-8601 UTC格式时间字符串，表示用户看到该活动的时间
interested, and not_interested

Test.csv 除了没有interested, and not_interested，其余列与train相同
 """
    
# 统计训练集中有多少不同的用户的events
uniqueUsers = set()
uniqueEvents = set()

#倒排表
#统计每个用户参加的活动   / 每个活动参加的用户
eventsForUser = defaultdict(set)
usersForEvent = defaultdict(set)
    
for filename in ["train.csv", "test.csv"]:
    f = open(filename, 'rb')
    
    #忽略第一行（列名字）
    f.readline().strip().split(b",")
    
    for line in f:    #对每条记录
        cols = line.strip().split(b",")
        uniqueUsers.add(cols[0])   #第一列为用户ID
        uniqueEvents.add(cols[1])   #第二列为活动ID
        
        #eventsForUser[cols[0]].add(cols[1])    #该用户参加了这个活动
        #usersForEvent[cols[1]].add(cols[0])    #该活动被用户参加
    f.close()


n_uniqueUsers = len(uniqueUsers)
n_uniqueEvents = len(uniqueEvents)

print("number of uniqueUsers :%d" % n_uniqueUsers)
print("number of uniqueEvents :%d" % n_uniqueEvents)
print(n_uniqueUsers)
#用户关系矩阵表，可用于后续LFM/SVD++处理的输入
#这是一个稀疏矩阵，记录用户对活动感兴趣
userEventScores = ss.dok_matrix((n_uniqueUsers, n_uniqueEvents))
userIndex = dict()
eventIndex = dict()

#重新编码用户索引字典
for i, u in enumerate(uniqueUsers):
    userIndex[u] = i
    
#重新编码活动索引字典    
for i, e in enumerate(uniqueEvents):
    eventIndex[e] = i

n_records = 0
ftrain = open("train.csv", 'rb')
ftrain.readline()
for line in ftrain:
    cols = line.strip().split(b",")
    i = userIndex[cols[0]]  #用户
    j = eventIndex[cols[1]] #活动
    
    eventsForUser[i].add(j)    #该用户参加了这个活动
    usersForEvent[j].add(i)    #该活动被用户参加
        
    #userEventScores[i, j] = int(cols[4]) - int(cols[5])   #interested - not_interested
    score = int(cols[4])
    #if score == 0:  #0在稀疏矩阵中表示该元素不存在，因此借用-1表示interested=0
    #userEventScores[i, j] = -1
    #else:
    userEventScores[i, j] = score
ftrain.close()

  
##统计每个用户参加的活动，后续用于将用户朋友参加的活动影响到用户
pickle.dump(eventsForUser, open("PE_eventsForUser.pkl", 'wb'))
##统计活动参加的用户
pickle.dump(usersForEvent, open("PE_usersForEvent.pkl", 'wb'))

#保存用户-活动关系矩阵R，以备后用
sio.mmwrite("PE_userEventScores", userEventScores)


#保存用户索引表
pickle.dump(userIndex, open("PE_userIndex.pkl", 'wb'))
#保存活动索引表
pickle.dump(eventIndex, open("PE_eventIndex.pkl", 'wb'))

    
# 为了防止不必要的计算，我们找出来所有关联的用户 或者 关联的event
# 所谓的关联用户，指的是至少在同一个event上有行为的用户pair
# 关联的event指的是至少同一个user有行为的event pair
uniqueUserPairs = set()
uniqueEventPairs = set()
for event in uniqueEvents:
    i = eventIndex[event]
    users = usersForEvent[i]
    if len(users) > 2:
        uniqueUserPairs.update(itertools.combinations(users, 2))
        
for user in uniqueUsers:
    u = userIndex[user]
    events = eventsForUser[u]
    if len(events) > 2:
        uniqueEventPairs.update(itertools.combinations(events, 2))
 
#保存用户-事件关系对索引表
pickle.dump(uniqueUserPairs, open("FE_uniqueUserPairs.pkl", 'wb'))
pickle.dump(uniqueEventPairs, open("PE_uniqueEventPairs.pkl", 'wb'))

NameError: name 'defaultdict' is not defined

In [13]:
#训练集和测试集中出现的用户数目和事件数目远小于users.csv出现的用户数和events.csv出现的事件数

In [41]:
uniqueEvents = list(uniqueEvents)
uniqueEvents1 = []
for i in uniqueEvents:
    i = int(bytes.decode(i))
    uniqueEvents1.append(i)
uniqueEvents1

[1379185675,
 3189486214,
 4090120152,
 899668139,
 1077498346,
 1089038689,
 2969611776,
 2843648870,
 760152605,
 692075109,
 1579687184,
 1033318499,
 1419057761,
 3712819742,
 622120837,
 1399415999,
 3401681420,
 2732810444,
 2760876250,
 3254851447,
 1660678384,
 1971855649,
 3637523569,
 477813398,
 21534034,
 1338116650,
 3100093322,
 3509870432,
 573886273,
 3950286482,
 1294336672,
 2043455253,
 4223429256,
 1295729468,
 625259568,
 3077019139,
 1454534917,
 3687555234,
 2702494308,
 4220107080,
 3392552803,
 3599006720,
 2879361619,
 1933542442,
 2114371180,
 414015310,
 4228109405,
 4040372452,
 3064874467,
 3643976476,
 1486542415,
 2193505055,
 3039652825,
 1838041662,
 141146193,
 414842182,
 2953583082,
 1521445358,
 3701547443,
 960296146,
 1095829668,
 1997149065,
 201564442,
 3199154012,
 3382385081,
 2190369261,
 1330332438,
 2925109008,
 47443771,
 2534465304,
 334681152,
 1470185288,
 4055585686,
 2429693803,
 3733069609,
 2107263424,
 721858430,
 20381932,
 1466528489,
 2583766647,
 1414217450,
 3106536799,
 1267505164,
 1969993396,
 2955785263,
 1836221047,
 895171477,
 4209032429,
 1798745078,
 1532094066,
 59086176,
 1051165850,
 121419074,
 3316772416,
 3088405938,
 2412834294,
 1569036874,
 756677655,
 252563955,
 126987905,
 139229088,
 4121771254,
 288749001,
 3795093910,
 1257091773,
 312824157,
 3906291725,
 3130359578,
 2532840945,
 284888222,
 900803265,
 3002742471,
 949085150,
 3258357208,
 1876322819,
 914532885,
 111720609,
 2940200534,
 2961046023,
 760916752,
 814953804,
 1103665416,
 1043712341,
 646938693,
 249691528,
 3589097685,
 3086836700,
 2507715258,
 139221822,
 2861164727,
 1140161058,
 1080261006,
 985580109,
 3639467255,
 4040469677,
 1240958240,
 1346069916,
 1444583217,
 1262914219,
 1396198787,
 3770866498,
 342284187,
 1926865450,
 4020625664,
 1484456382,
 2902086072,
 3311545292,
 750584397,
 3364485916,
 2788558996,
 2168072348,
 2685688752,
 2378630297,
 4017891961,
 3809657858,
 449479385,
 1786302939,
 51076977,
 645947926,
 314870193,
 688003497,
 732845339,
 1397955556,
 3108893200,
 193057331,
 2409838112,
 2681949096,
 811008612,
 954409482,
 4044222914,
 3990500666,
 679023125,
 1095856197,
 1579557996,
 2921274626,
 3367065897,
 2784885848,
 1690615074,
 4202927804,
 3213813029,
 772318802,
 1232655838,
 1538008083,
 3083345340,
 2742796684,
 3243313717,
 4190936606,
 892522920,
 1621617792,
 4110062919,
 1998964568,
 1648681304,
 406293968,
 1511862915,
 3901290120,
 3978034285,
 3190640703,
 3536426515,
 1948173913,
 398208897,
 1722051160,
 1967377951,
 2466263946,
 3717837762,
 3774454065,
 2250918448,
 3352558065,
 566545011,
 2622473733,
 1633364082,
 446790947,
 1041949398,
 1333917247,
 3799396636,
 1234490218,
 2691215697,
 2104725357,
 422354467,
 3875955172,
 261646692,
 1857156364,
 1825201512,
 3477624372,
 1118578975,
 3025444328,
 399364804,
 785245384,
 1814530527,
 1566969892,
 2611146411,
 3371362346,
 2808933304,
 1622766919,
 99027353,
 1228296357,
 1893629654,
 4001241592,
 245410232,
 3559993637,
 996787136,
 3097390405,
 119750609,
 1712448138,
 1389088809,
 3680303526,
 4241501571,
 2985774237,
 3163090701,
 1565011423,
 2358951559,
 3758162883,
 2293768387,
 3916699033,
 1336550405,
 2287755049,
 907511974,
 1549366784,
 2489574463,
 3996685669,
 3381519000,
 2601678976,
 2468898182,
 1596190412,
 1385126312,
 426238334,
 1566556513,
 200218730,
 2814323926,
 2689464191,
 3305669901,
 3907799000,
 3630632197,
 727368927,
 1612892907,
 3318802055,
 3176850745,
 1686028847,
 2453429820,
 2460468313,
 3975678118,
 1779231622,
 40744964,
 2136853395,
 846069276,
 1901601017,
 1977169313,
 92434189,
 3567156235,
 3012452481,
 3563635172,
 3618189475,
 1159558718,
 2693387972,
 807006174,
 1094725860,
 3712568774,
 1821342748,
 4146552769,
 2389467513,
 1841145872,
 2379329185,
 2293472224,
 1064676677,
 3842575553,
 3501505424,
 3923438992,
 3295999782,
 4049610607,
 2584922845,
 1607266075,
 2618041707,
 198166767,
 459120486,
 1822642771,
 2456511255,
 2442160767,
 3684713379,
 4256067371,
 263011441,
 2051603944,
 1327762804,
 188505465,
 2493891004,
 3016174135,
 4106103231,
 2236421139,
 3642792280,
 2715216804,
 4338728,
 1008778548,
 2045110309,
 1855529308,
 252355585,
 4222772842,
 3686190194,
 474449136,
 3756572732,
 1120137253,
 2342980834,
 2331932256,
 3848300978,
 1116212486,
 290711008,
 2848599369,
 1411410860,
 1314114792,
 839562268,
 129394252,
 1771812765,
 1332882278,
 297601002,
 798676219,
 401374646,
 610427555,
 3334704715,
 3118191184,
 2920293801,
 4125243964,
 3955743405,
 3565166403,
 1869231286,
 2915662989,
 4153312619,
 1114151918,
 4147483412,
 2138103664,
 3353105116,
 3588664375,
 1223420734,
 2326070806,
 95061625,
 2616716533,
 3374652016,
 2812330223,
 3372111380,
 2597857228,
 559328902,
 292032212,
 3659838928,
 3319506135,
 1992961977,
 1567986481,
 410842839,
 3773489407,
 1059402615,
 2925964144,
 3807386691,
 329123657,
 3345225671,
 1565147984,
 4219244481,
 1880608957,
 3440289078,
 1652875579,
 1566716821,
 3643004825,
 834639430,
 1437024757,
 497346227,
 1896396447,
 3770539193,
 2538041788,
 87842054,
 3124721005,
 2271049585,
 3633955351,
 4238681272,
 1501858181,
 1202113718,
 35305848,
 3653306306,
 432884667,
 815464504,
 4207934307,
 2182473577,
 3068611618,
 890543862,
 63677962,
 3057340966,
 2171536546,
 2600301494,
 3385455424,
 2073339412,
 3618085464,
 2914054397,
 1149414651,
 567527059,
 2665081210,
 2762536315,
 1723821298,
 2793371951,
 954775945,
 2692654556,
 1886219882,
 1379671569,
 2934155652,
 3105353690,
 2353865263,
 3212455030,
 1154950496,
 2149315332,
 1453975484,
 1809088377,
 2086300822,
 2434261763,
 2023259345,
 3453637848,
 3825145895,
 851749287,
 587454424,
 2748538029,
 273902811,
 684180084,
 1147733770,
 3949611603,
 4253067577,
 232015242,
 221604045,
 2825861055,
 627841864,
 3911584808,
 332142007,
 432466438,
 3414181314,
 2122301874,
 3593566246,
 382018152,
 372011842,
 1403285194,
 3577652785,
 3772460243,
 3874825374,
 2415873572,
 2779241460,
 4125420656,
 797378040,
 3949287071,
 3855173861,
 2572191829,
 3218575152,
 3294243397,
 715927047,
 3797841998,
 4177226936,
 2517768885,
 3391085910,
 828951442,
 426631217,
 1051419581,
 3252432592,
 1027412797,
 1629994289,
 738069322,
 1373783311,
 3699419582,
 3942891975,
 2806189562,
 1902921043,
 2120836099,
 1361358532,
 1300718667,
 1178225908,
 4065600923,
 4093453508,
 916627849,
 2363351901,
 412637465,
 708953850,
 2768891421,
 3633351483,
 1645370294,
 1011767003,
 4281653989,
 1074855174,
 2361063319,
 1810281079,
 3002800200,
 94072781,
 1765518101,
 544580953,
 102952604,
 328772197,
 749859087,
 2884132945,
 909891171,
 4218422552,
 1730501944,
 2233184763,
 156491367,
 2849940433,
 1047407539,
 1996708167,
 2363285172,
 3996301727,
 2360970554,
 2739214482,
 1800619761,
 210393825,
 3530657203,
 3615755136,
 2486303679,
 1000453597,
 2156430059,
 1441699239,
 1985153611,
 1927107595,
 4033406811,
 3658812660,
 3764071536,
 1690420493,
 2038842201,
 4176749504,
 298871218,
 2138889958,
 2522843655,
 754494201,
 1783442779,
 4208643265,
 1100211249,
 1635258225,
 2338976654,
 3919218328,
 3069411884,
 2035887714,
 1660818988,
 434543874,
 428549163,
 637049052,
 3403413215,
 2803381523,
 3212079634,
 1253368065,
 3738629021,
 65641389,
 1710669663,
 3906525090,
 1684651848,
 1196882187,
 1433971994,
 2490223551,
 13620896,
 2676279670,
 2412989909,
 2904491741,
 264131666,
 3701465217,
 4151648493,
 3188235554,
 3513983552,
 1623007742,
 1113038458,
 4085563097,
 3188394122,
 3348012164,
 3899151655,
 1160297188,
 4072954907,
 680270887,
 2066735480,
 904937903,
 3304837598,
 1526919341,
 1452524777,
 3398247231,
 3050858997,
 2464636842,
 1023550880,
 1530694090,
 1642638618,
 3805108320,
 1391158753,
 4193771689,
 344135913,
 150342414,
 420579930,
 1991938600,
 2775969504,
 261218444,
 2973911742,
 2055922065,
 2949402180,
 2200516096,
 1710260937,
 2000201086,
 751257786,
 1520803271,
 45299662,
 4138736243,
 144836311,
 1447532589,
 2257756009,
 333290432,
 1407801833,
 2072422072,
 1383961059,
 2834790159,
 1707508219,
 1490557433,
 724467061,
 389811473,
 374048503,
 2036538169,
 293191359,
 1134576678,
 691895528,
 305085824,
 3430342894,
 3802650890,
 1206554126,
 2173608003,
 1203119679,
 151426211,
 2427264930,
 3249170164,
 3245843888,
 697674217,
 3185730461,
 559455545,
 488329448,
 1001013482,
 1287148023,
 975764373,
 1348209331,
 3389184536,
 1089819483,
 2076577222,
 3951031049,
 1179651886,
 237943335,
 3626702003,
 3521274632,
 714296247,
 3612086693,
 4000251470,
 4241901687,
 2247712885,
 2554291574,
 1678145610,
 3150073140,
 186104502,
 2693186870,
 4215686475,
 460925649,
 3270799775,
 1171067154,
 1333188058,
 2796594102,
 763977262,
 987194908,
 2122716507,
 3012443258,
 2368889606,
 1542554878,
 1036961928,
 1159681214,
 1447011169,
 1647929068,
 3581275802,
 568710964,
 1349897681,
 1603139322,
 526068387,
 1664519218,
 275437483,
 2232765899,
 2633128735,
 3007406784,
 1068825763,
 104363229,
 1677401781,
 926605391,
 1275822727,
 1873532916,
 1815008506,
 2660643006,
 2573375708,
 167963595,
 176458041,
 1162004917,
 3515877913,
 1801175686,
 1894169490,
 3663139999,
 1795371268,
 2315711455,
 1178414645,
 3153590943,
 3571614737,
 3055102570,
 1709116685,
 1068793163,
 3735036412,
 1361307272,
 2206508128,
 2639426191,
 756383313,
 736850175,
 3281130769,
 3516991107,
 3489853891,
 1156397533,
 3147493880,
 2740874943,
 3007918636,
 3571352784,
 2024105424,
 4254456631,
 848152460,
 2821117540,
 3331186835,
 3576964854,
 1660590445,
 3695530032,
 2366289805,
 2218325768,
 106517927,
 2224732799,
 3566604706,
 2183849299,
 2003347053,
 753153584,
 1314055847,
 1589137785,
 748520427,
 125703643,
 788496445,
 1832043495,
 2859670510,
 1427564900,
 3110363670,
 1951496954,
 1704613170,
 617227257,
 4274310707,
 4250784104,
 3792500746,
 3551254564,
 1833493223,
 3536688266,
 3905745730,
 582973300,
 1662539682,
 1299746069,
 1627031750,
 1445820524,
 4001798355,
 1364538695,
 953356488,
 556895940,
 1669367540,
 4267869375,
 2704261655,
 1873976153,
 23065304,
 4033897440,
 791860627,
 994310148,
 121684017,
 744407130,
 3921422048,
 2090866381,
 29180020,
 3138246349,
 2142497014,
 3315662669,
 1868620616,
 2377877379,
 234197631,
 1372844777,
 702639971,
 696973799,
 3438843767,
 2320431814,
 629349865,
 3465367492,
 3704776276,
 175799995,
 4112975226,
 2264207621,
 2321880279,
 1833759794,
 1287096175,
 1828726073,
 3081495551,
 848453528,
 2213514822,
 2106746558,
 1177054501,
 3598931817,
 579777979,
 3144708352,
 2508555495,
 409259074,
 1492911169,
 3017798619,
 2010583664,
 1960358461,
 3481660815,
 3899853175,
 2787476717,
 1394402721,
 4032059949,
 384131721,
 3083954869,
 2013712241,
 1393708890,
 444853728,
 1384663745,
 2325481526,
 3826870896,
 3859818831,
 3319944668,
 2433888237,
 45273014,
 1842491212,
 3913331948,
 3198275968,
 1726301772,
 1577425467,
 414811541,
 1840365070,
 2473502708,
 3055371642,
 2993387051,
 2611097725,
 600512901,
 902747271,
 613851355,
 3591208524,
 3499523914,
 1582270949,
 2464117384,
 1002527123,
 3028432012,
 3058109340,
 573293150,
 1807713409,
 3412735820,
 1699663431,
 1549888315,
 2380117374,
 1550429882,
 1711030046,
 4215548909,
 73460149,
 2090707728,
 1202537111,
 2850910542,
 1554701042,
 899438727,
 1231257462,
 2284893483,
 2285963249,
 1574913732,
 2660812160,
 940033316,
 2164892567,
 3273695084,
 3022634670,
 300004583,
 1014040686,
 1330161973,
 1159050153,
 3350595681,
 350511551,
 3730940322,
 1658576759,
 1508286450,
 3538439402,
 3021192688,
 3021201850,
 2773204108,
 945439689,
 1769089355,
 272472706,
 906914792,
 92230658,
 1379101853,
 2079400394,
 3548695965,
 1087635781,
 3126487334,
 2562099864,
 2648833412,
 4364520,
 2997613878,
 2803335863,
 539541742,
 4239674720,
 301445362,
 918139741,
 1545807185,
 1446341316,
 224435617,
 3771772284,
 4055258235,
 2236462300,
 2844145532,
 388159206,
 3210395746,
 3685002484,
 965094203,
 486391067,
 2753805623,
 2859758205,
 2317641938,
 3417522749,
 17054803,
 3985523814,
 1807831177,
 2978759688,
 2430713742,
 4294209504,
 3700414799,
 3946614613,
 621292958,
 2125679242,
 3256763267,
 2012232184,
 1202672351,
 293751558,
 401976348,
 3029154892,
 2722317680,
 2569103422,
 3480624055,
 3650881117,
 2401798322,
 2477400016,
 974024618,
 2005730896,
 1448857745,
 1392191159,
 4012150032,
 1064770050,
 2505215665,
 4054253362,
 33770938,
 2472934939,
 3395036524,
 3836293829,
 1949386711,
 1104384354,
 3300418522,
 2531209279,
 1510219719,
 485696274,
 3871210244,
 1769681665,
 1942474082,
 1078399009,
 1670529571,
 3161434996,
 2379766619,
 2728880989,
 3777087288,
 2750965517,
 2755616470,
 385934286,
 2332683796,
 ...]

In [43]:
events_data = pd.read_csv('events.csv')
events_data

,event_id,user_id,start_time,city,state,zip,country,lat,lng,c_1,...,c_92,c_93,c_94,c_95,c_96,c_97,c_98,c_99,c_100,c_other
0,684921758,3647864012,2012-10-31T00:00:00.001Z,NaN,NaN,NaN,NaN,NaN,NaN,2,...,0,1,0,0,0,0,0,0,0,9
1,244999119,3476440521,2012-11-03T00:00:00.001Z,NaN,NaN,NaN,NaN,NaN,NaN,2,...,0,0,0,0,0,0,0,0,0,7
2,3928440935,517514445,2012-11-05T00:00:00.001Z,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,12
3,2582345152,781585781,2012-10-30T00:00:00.001Z,NaN,NaN,NaN,NaN,NaN,NaN,1,...,0,0,0,0,0,0,0,0,0,8
4,1051165850,1016098580,2012-09-27T00:00:00.001Z,NaN,NaN,NaN,NaN,NaN,NaN,1,...,0,0,0,0,0,0,0,0,0,9
5,1212611096,1426522332,2012-11-16T00:00:00.001Z,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,22
6,3689283674,725266702,2012-11-02T20:00:00.003Z,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,28
7,2584113432,613687941,2012-10-31T00:00:00.001Z,NaN,NaN,NaN,NaN,NaN,NaN,0,...,2,0,0,0,0,0,0,0,0,354
8,3365728297,1098509207,2012-10-31T00:00:00.001Z,NaN,NaN,NaN,NaN,47.058,21.926,0,...,0,0,0,0,0,0,0,1,0,25
9,2912638473,3598071768,2012-10-18T00:00:00.001Z,NaN,NaN,NaN,NaN,NaN,NaN,1,...,0,0,0,0,0,0,0,0,0,3
10,1609864127,4252244266,2012-11-06T22:40:00.003Z,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,38
11,1304227508,4083498051,2012-08-31T00:00:00.001Z,NaN,NaN,NaN,NaN,NaN,NaN,1,...,0,0,0,0,0,0,0,0,0,9
12,2608543989,711497121,2012-11-12T17:00:00.003Z,NaN,NaN,NaN,NaN,NaN,NaN,1,...,0,0,0,0,0,0,0,0,0,36
13,298169907,1020819241,2012-12-01T00:00:00.001Z,NaN,NaN,NaN,NaN,NaN,NaN,1,...,0,0,0,0,0,1,0,0,1,15
14,2953099360,881617516,2012-08-26T17:00:00.003Z,NaN,NaN,NaN,NaN,NaN,NaN,2,...,0,1,1,0,0,0,0,0,0,120
15,615449287,3832426265,2012-08-31T00:00:00.001Z,NaN,NaN,NaN,NaN,NaN,NaN,1,...,0,0,0,0,0,0,0,0,0,9
16,1922719636,4185999054,2012-10-31T00:00:00.001Z,NaN,NaN,NaN,NaN,NaN,NaN,1,...,0,0,1,0,0,0,0,0,0,7
17,1261820355,1240515743,2012-11-08T00:00:00.001Z,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,1,0,0,0,0,0,0,8
18,2773204108,1999363021,2012-11-16T20:00:00.002Z,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,90
19,2285783902,44098316,2012-09-28T00:00:00.001Z,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,2,0,0,0,0,0,0,6
20,1873976153,1918590410,2012-09-30T00:00:00.001Z,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,1,0,0,0,0,0,0,17
21,1820269907,1768539776,2012-10-23T00:00:00.001Z,NaN,NaN,NaN,NaN,NaN,NaN,1,...,1,0,0,0,0,0,0,0,0,7
22,1929622843,4235478695,2012-11-08T00:00:00.001Z,NaN,NaN,NaN,NaN,NaN,NaN,1,...,0,0,0,0,0,0,0,0,0,9
23,2312158323,3324266513,2012-10-05T00:00:00.001Z,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,2,0,0,0,0,0,0,6
24,1091130052,3686526729,2012-10-04T00:00:00.001Z,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,2,0,0,0,0,0,0,6
25,1888241344,4120508790,2012-10-31T00:00:00.001Z,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,4
26,3436633625,3214543653,2012-09-27T02:00:00.003Z,NaN,NaN,NaN,NaN,NaN,NaN,3,...,0,0,0,0,0,0,0,0,0,28
27,1511862915,813883609,2012-11-04T00:00:00.001Z,NaN,NaN,NaN,NaN,NaN,NaN,1,...,0,0,0,0,0,0,0,0,0,9
28,3980763324,375876914,2012-10-31T00:00:00.001Z,NaN,NaN,NaN,NaN,NaN,NaN,1,...,0,0,0,0,0,0,0,0,0,10
29,2259674237,1065410499,2012-09-30T00:00:00.001Z,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,2,0,0,0,0,0,0,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137942,1139583805,516291217,2012-12-09T03:00:00.003Z,NaN,NaN,NaN,NaN,NaN,NaN,2,...,0,0,0,0,0,0,1,0,0,19
3137943,1111276575,2319467663,2012-06-22T20:00:00.000Z,Graham,Texas,NaN,United States,33.087,-98.579,1,...,0,0,0,0,0,0,0,0,0,22
3137944,1875831541,415464198,2012-09-29T01:30:00.003Z,Santa Clara,CA,NaN,United States,37.354,-121.945,10,...,0,0,0,0,0,1,0,0,0,74
3137945,3546016674,3877433908,2012-10-27T20:00:00.003Z,Smyrna,DE,NaN,United States,39.291,-75.633,2,...,0,0,0,0,0,0,0,0,0,12
3137946,522337111,1691864426,2013-09-13T00:00:00.002Z,Phoenix,AZ,NaN,United States,33.493,-112.053,1,...,0,0,0,0,0,0,0,0,0,2
3137947,785313863,972120445,2012-12-14T01:00:00.003Z,Sacramento,CA,85811,United States,38.567,-121.483,5,...,0,0,0,0,0,0,0,0,0,67
3137948,903636172,3399599494,2012-11-17T16:00:00.003Z,Allen Park,MI,48101,United States,42.271,-83.198,5,...,0,1,0,0,0,0,0,2,0,88
3137949,3242000627,1405646196,2012-11-03T00:00:00.001Z,NaN,NaN,NaN,Chile,-34.981,-71.232,0,...,0,0,0,0,0,0,0,0,0,57
3137950,2249617071,3713078736,2012-03-24T12:00:00.000Z,NaN,NaN,NaN,NaN,NaN,NaN,1,...,0,0,0,0,0,0,0,0,0,41
3137951,1244671019,415464198,2012-08-12T19:00:00.000Z,NaN,NaN,NaN,NaN,NaN,NaN,9,...,0,0,0,0,0,0,0,0,0,132
3137952,630391888,2178330751,2012-11-16T00:00:00.001Z,NaN,NaN,NaN,NaN,NaN,NaN,1,...,0,0,0,0,0,0,0,0,0,20
3137953,2907019630,254788906,2012-09-22T16:00:00.003Z,Niagara-on-the-Lake,ON,NaN,Canada,43.206,-79.059,0,...,0,0,0,0,0,0,2,0,0,19
3137954,426326699,4013071259,2013-06-30T21:00:00.002Z,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,5
3137955,3375896456,1759137312,2012-03-24T20:00:00.000Z,Brooklyn,New York,NaN,United States,40.676,-73.980,19,...,0,0,0,0,1,0,0,4,0,205
3137956,1719028779,2802157228,2012-12-15T20:00:00.003Z,Cesena,NaN,47522,Italy,44.110,12.200,4,...,0,0,0,0,0,0,0,0,0,37
3137957,1942649088,1984879856,2012-12-01T03:00:00.003Z,Boone,NC,28607,United States,36.218,-81.684,0,...,0,0,0,0,0,0,0,1,0,12
3137958,1359596891,540172555,2012-09-30T19:30:00.003Z,NaN,NaN,NaN,NaN,NaN,NaN,7,...,0,0,1,0,1,0,1,0,0,100
3137959,2612956139,681566693,2012-11-23T12:30:00.003Z,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,12
3137960,1802009396,2041035070,2012-06-10T00:00:00.000Z,Sherman Oaks,CA,NaN,United States,34.150,-118.431,2,...,0,0,0,0,0,0,0,0,0,37
3137961,2475436557,349466169,2012-04-14T14:00:00.000Z,NaN,NaN,NaN,NaN,NaN,NaN,1,...,0,0,0,0,0,0,0,0,0,12
3137962,929666420,1863343338,2012-11-24T20:00:00.002Z,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,0,1,0,0,0,0,0,24
3137963,1102736444,1025866016,2012-08-31T01:00:00.003Z,NaN,NaN,NaN,NaN,NaN,NaN,8,...,0,0,1,0,0,0,0,0,0,45
3137964,235320680,2112970838,2012-09-23T00:30:00.003Z,Tucson,AZ,NaN,United States,32.206,-110.821,2,...,0,0,0,0,0,0,0,0,0,17
3137965,2309203910,3289322609,2012-12-07T23:00:00.003Z,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,35
3137966,1484355107,2540713688,2012-11-08T00:00:00.001Z,NaN,NaN,NaN,NaN,NaN,NaN,4,...,0,0,0,0,0,0,0,0,0,33
3137967,3206911916,3817662916,2012-06-07T14:00:00.000Z,NaN,NaN,NaN,NaN,45.238,11.754,0,...,0,0,0,0,0,0,0,0,0,45
3137968,3298484812,2119960237,2014-02-26T02:00:00.002Z,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,8
3137969,1331217755,1149466221,2012-12-02T07:30:00.002Z,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,2
3137970,1627348069,3748671867,2012-10-20T04:00:00.003Z,Hermosa Beach,CA,NaN,United States,33.857,-118.391,2,...,1,0,1,0,0,0,0,1,1,51
3137971,1373240562,3334738518,2013-02-14T20:00:00.002Z,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,1

In [130]:
columns = events_data.columns
events = pd.DataFrame(columns=columns)
cnt=0
for i in uniqueEvents1:
    events = events.append(events_data.loc[events_data.event_id==i],ignore_index=True)

In [131]:
print(events)

         event_id     user_id                start_time            city  \
0      1379185675   947978913  2012-09-13T02:00:00.003Z         Toronto
1      3189486214  1176436376  2012-10-28T20:00:00.003Z             NaN
2      4090120152  3416671649  2012-10-13T05:00:00.003Z      Long Beach
3       899668139  1558385303  2012-11-18T04:00:00.003Z             NaN
4      1077498346  3631515235  2012-11-12T00:00:00.001Z             NaN
5      1089038689  2471762109  2012-09-26T00:00:00.001Z           Medan
6      2969611776  1626472083  2012-10-04T12:00:00.003Z           Nilai
7      2843648870  2577978364  2012-11-05T03:00:00.003Z      Long Beach
8       760152605   415464198  2012-08-01T02:00:00.000Z         Toronto
9       692075109    78587940  2012-10-28T01:00:00.003Z             NaN
10     1579687184  3352366411  2012-09-28T02:00:00.003Z        Bellevue
11     1033318499   137154249  2012-10-05T18:00:00.003Z         Ferizaj
12     1419057761  3661496765  2012-11-03T11:20:00.003Z             NaN
13     3712819742  1848092354  2012-11-01T00:00:00.001Z             NaN
14      622120837  1393325689  2012-09-26T18:00:00.003Z         Hoboken
15     1399415999  2196080133  2012-10-21T20:00:00.002Z         Toronto
16     3401681420  2092621516  2012-11-11T17:00:00.003Z             NaN
17     2732810444  2513241101  2012-11-21T03:00:00.003Z  West Hollywood
18     2760876250  3447714959  2012-10-27T00:00:00.002Z             NaN
19     3254851447  2892482680  2012-11-03T17:00:00.003Z             NaN
20     1660678384  2859879984  2012-10-20T21:00:00.003Z             NaN
21     1971855649   150570914  2012-11-04T02:00:00.003Z         Lubbock
22     3637523569   716334630  2012-10-06T04:00:00.003Z             NaN
23      477813398  1899675638  2012-11-14T11:00:00.003Z             NaN
24       21534034  1933568411  2012-12-15T01:00:00.003Z             NaN
25     1338116650  3294558629  2012-09-25T00:00:00.003Z        Hamilton
26     3100093322  3105577468  2012-09-06T00:00:00.003Z         Toronto
27     3509870432   629840229  2012-10-27T00:00:00.001Z             NaN
28      573886273   372436214  2012-10-28T11:30:00.003Z             NaN
29     3950286482   415464198  2012-10-31T22:00:00.002Z             NaN
...           ...         ...                       ...             ...
13388  1091316601   124779168  2012-10-13T01:00:00.003Z       San Diego
13389   524756826  2754621272  2012-07-28T22:00:00.000Z         Toronto
13390  2684225557   756360548  2012-10-14T04:00:00.003Z       Sunnyvale
13391  1480770482  3069120658  2012-10-06T05:00:00.003Z             NaN
13392  1637337509  2350576551  2012-10-28T04:30:00.003Z        Denpasar
13393  3506658662   423765660  2012-10-26T00:00:00.001Z             NaN
13394   158205194   218067063  2012-10-14T03:30:00.003Z       Inglewood
13395  2324717272  4175147173  2012-09-30T00:00:00.001Z             NaN
13396  3896860087  1036082742  2012-09-30T01:00:00.003Z             NaN
13397    54535450  4244103483  2012-10-10T15:00:00.002Z             NaN
13398  3582418533  3912727517  2012-10-03T00:00:00.001Z             NaN
13399  1602727924  3384232644  2012-09-29T01:00:00.003Z         Toronto
13400  2857665129  2105397633  2012-10-31T13:30:00.003Z             NaN
13401  1298449638   168429995  2012-08-20T01:00:00.003Z         Houston
13402  1801869689  2152760920  2012-11-01T02:00:00.003Z             NaN
13403  1061411905  3983904165  2012-12-07T03:00:00.003Z         Toronto
13404   445989197  3072433315  2012-11-03T20:00:00.003Z        Den Haag
13405   959243663   260246172  2012-10-30T02:00:00.003Z          Jepara
13406   806275357  3120771549  2012-10-19T01:00:00.003Z             NaN
13407  1255629030   804901063  2012-10-31T00:00:00.001Z             NaN
13408  3168283375  1079091779  2012-10-04T00:00:00.001Z             NaN
13409  1127307325  1393855154  2012-11-25T05:00:00.003Z             NaN
13410  1465884852  2588555933  2012-11-29T19:00:00.003Z          Durban
13411   491161389  1120286481  2012-11-22T06:00:00.003Z         Anaheim
13412  1298668930  1170814183  2012-10-12T00:00:00.001Z             NaN
13413  1372348184   608942721  2012-11-10T14:30:00.003Z             NaN
13414  3483003454  4135254945  2012-10-12T14:00:00.002Z       Straubing
13415   608423375  3098539551  2012-11-03T02:45:00.003Z    Buenos Aires
13416  3466325304  1018351727  2012-12-25T00:00:00.001Z             NaN
13417  1332759137   415464198  2012-10-31T00:00:00.001Z             NaN

         state     zip        country     lat      lng c_1   ...   c_92 c_93  \
0           ON     NaN         Canada  43.648  -79.375   0   ...      0    0
1          NaN     NaN            NaN     NaN      NaN   0   ...      0    0
2           CA     NaN  United States  33.756 -118.108   2   ...      0    0
3          NaN     NaN            NaN     NaN      NaN   0   ...      0    0
4          NaN     NaN            NaN     NaN      NaN   0   ...      0    0
5          NaN     NaN      Indonesia   3.565   98.659   0   ...      0    0
6          NaN     NaN       Malaysia   2.841  101.785   0   ...      0    0
7           CA     NaN  United States  33.761 -118.136   6   ...      0    1
8           ON     NaN         Canada  43.646  -79.394   4   ...      0    0
9          NaN     NaN            NaN     NaN      NaN   0   ...      0    0
10          WA     NaN  United States  47.616 -122.193   5   ...      0    0
11         NaN     NaN         Serbia  42.369   21.153   0   ...      0    0
12         NaN     NaN            NaN     NaN      NaN   0   ...      0    0
13         NaN     NaN            NaN   0.000  109.333   0   ...      0    0
14          NJ     NaN  United States  40.746  -74.026   0   ...      0    0
15     Ontario     NaN         Canada  43.717  -79.341  34   ...      0    0
16         NaN     NaN            NaN     NaN      NaN   0   ...      0    0
17          CA   90069  United States  34.086 -118.383   0   ...      0    0
18         NaN     NaN            NaN     NaN      NaN   2   ...      0    0
19         NaN     NaN            NaN -25.717  -56.250   0   ...      0    0
20         NaN     NaN            NaN     NaN      NaN   2   ...      0    0
21          TX     NaN  United States  33.562 -101.855   1   ...      0    0
22         NaN     NaN            NaN     NaN      NaN   0   ...      0    0
23         NaN     NaN            NaN     NaN      NaN   0   ...      0    0
24         NaN     NaN            NaN     NaN      NaN   3   ...      0    0
25          ON     NaN         Canada  43.260  -79.878   0   ...      0    0
26          ON     NaN         Canada  43.646  -79.400   3   ...      0    0
27         NaN     NaN            NaN     NaN      NaN   1   ...      1    0
28         NaN     NaN            NaN  20.000   77.000   0   ...      0    0
29         NaN     NaN            NaN     NaN      NaN   3   ...      0    2
...        ...     ...            ...     ...      ...  ..   ...    ...  ...
13388       CA     NaN  United States  32.748 -117.127   2   ...      0    3
13389       ON     NaN         Canada  43.649  -79.421   4   ...      0    0
13390       CA     NaN  United States  37.376 -122.030   8   ...      0    0
13391      NaN     NaN            NaN     NaN      NaN   0   ...      0    0
13392      NaN     NaN      Indonesia  -8.743  115.212   4   ...      0    0
13393      NaN     NaN            NaN     NaN      NaN   1   ...      1    0
13394       CA     NaN  United States  33.947 -118.340   6   ...      0    0
13395      NaN     NaN            NaN  -6.355  107.129   0   ...      0    0
13396      NaN     NaN            NaN     NaN      NaN   5   ...      0    0
13397      NaN     NaN            NaN     NaN      NaN   0   ...      0    0
13398      NaN     NaN            NaN     NaN      NaN   0   ...      0    0
13399       ON     NaN         Canada  43.664  -79.380   1   ...      0    0
13400      NaN     NaN            NaN     NaN      NaN   0   ...      0    0
13401       TX     NaN  United States  29.836  -95.649   1   ...      0    0
13402      NaN     NaN            NaN     NaN      NaN   0   ...      0    0
13403       ON  M5V2V4         Canada  43.643  -79.402   2   ...      0    0
13404      NaN     NaN    Netherlands  52.063    4.261   2   ...      0    0
13405      NaN     NaN      Indonesia  -6.616  110.692   0   ...      0    0
13406      NaN     NaN            NaN     NaN      NaN   0   ...      0    0
13407      NaN     NaN            NaN     NaN      NaN   0   ...      0    0
13408      NaN     NaN            NaN     NaN      NaN   2   ...      0    0
13409      NaN     NaN            NaN     NaN      NaN   1   ...      0    0
13410      NaN     NaN   South Africa -29.812   30.994   3   ...      0    0
13411       CA   92802  United States  33.806 -117.912   3   ...      0    0
13412      NaN     NaN            NaN     NaN      NaN   0   ...      0    0
13413      NaN     NaN            NaN     NaN      NaN   3   ...      0    0
13414   Bayern     NaN        Germany  48.888   12.561   0   ...      0    0
13415      NaN     NaN      Argentina -34.569  -58.421   0   ...      0    0
13416      NaN     NaN            NaN     NaN      NaN   0   ...      0    0
13417      NaN     NaN            NaN     NaN      NaN   0   ...      0    0

      c_94 c_95 c_96 c_97 c_98 c_99 c_100 c_other
0        0    0    0    1    0    0     0      30
1        0    0    0    0    0    0     0      14
2        0    0    0    0    0    0     2      17
3        0    0    0    0    0    0     0       8
4        0    0    0    0    0    0     0       8
5        0    0    0    0    0    0     0     109
6        0    0    0    0    0    0     0      15
7        0    0    0    0    0    0     0      86
8        0    0    0    0    0    0     0      44
9        0    0    0    0    0    0     0      20
10       0    0    0    0    0    0     0      34
11       0    0    0    0    0    0     0      19
12       0    0    0    0    0    0     0      12
13       0    0    0    0    0    0     0     153
14       0    0    0    0    0    0     0       7
15       0    0    0    0    0    4     0     233
16       0    0    0    0    0    0     0      26
17       0    0    0    0    0    0     0      31
18       0    0    1    0    0    1     0      24
19       0    0    0    0    0    0     0      88
20       0    0    0    0    0    0     0      78
21       0    0    0    0    0    0     0      28
22       0    0    0    0    0    0     0      20
23       0    0    0    0    0    0     0      71
24       0    0    0    0    0    0     0      36
25       0    1    0    0    0    0     0      41
26       0    0    0    0    0    0     0      78
27       0    0    0    0    0    0     0      11
28       0    0    0    0    0    0     0       4
29       2    0    0    0    0    0     1      41
...    ...  ...  ...  ...  ...  ...   ...     ...
13388    0    0    0    0    0    0     0     121
13389    0    0    0    0    2    0     0      52
13390    0    0    0    2    1    2     0      82
13391    0    0    0    0    0    0     0      71
13392    0    0    1    2    0    0     0     125
13393    0    0    0    0    0    0     0      11
13394    0    0    0    0    0    0     0      46
13395    0    0    0    0    0    0     0       4
13396    1    0    0    0    0    0     0      86
13397    0    0    0    0    0    0     0       8
13398    0    0    0    0    0    0     0      18
13399    0    0    0    0    0    0     0      34
13400    0    0    0    0    0    0     0      35
13401    0    0    0    1    0    0     0      89
13402    0    0    0    0    0    0     0      59
13403    0    0    0    0    0    0     0      52
13404    0    0    0    0    0    4     0     272
13405    0    0    0    0    0    0     0      22
13406    0    0    0    3    0    0     0      63
13407    0    0    0    0    0    0     0      13
13408    0    0    0    0    0    0     0      25
13409    0    0    0    0    0    0     0     109
13410    0    0    0    0    1    0     0     169
13411    0    0    0    0    0    0     0      36
13412    0    0    0    0    0    0     0     167
13413    1    0    0    4    0    0     0     146
13414    0    0    0    0    0    0     0       7
13415    0    0    0    0    0    0     0      29
13416    2    0    0    0    0    0     0      22
13417    0    0    0    0    0    0     0     214

[13418 rows x 110 columns]

In [132]:
events.to_csv('events2.csv',encoding="gbk")